body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background: black;
}

h1,
h2 {
  padding: 6px;
  margin: 0;
  border-bottom: 1px solid #353535;
  text-align: left;
  font-size: inherit;
  font-weight: normal;
  color: #afafaf;
  background: #141414;
}

table {
  margin: 12px;
}

td:nth-child(2) {
  text-align: right;
}

.pad {
  overflow: clip;
  max-width: 1000px;
  margin: 12px auto;
  border: 1px solid #353535;
  border-radius: 12px;
  text-align: center;
  background: #101010;
}

.pdu {
  display: inline-block;
  vertical-align: top;
  max-width: 16em;
  margin: 6px;
  padding: 6px;
  border: 1px solid #353535;
  border-radius: 6px;
  text-align: left;
}

.miner {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 2px;
  text-align: center;
  border-radius: 6px;
  color: black;
}

.bg10 {
  background: #4fc604;
}

.bg20 {
  background: #7297fb;
}

.bg30 {
  background: #fac456;
}

.bg40 {
  background: #5f085f;
}

.bg50 {
  background: #e67458;
}

.bg60 {
  background: #ee1717;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-background {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: black;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: clip;
  border: solid 1px #353535;
  border-radius: 12px;
  text-align: left;
  color: white;
  background: #141414;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px;
}

.miner:hover,
.modal-close:hover {
  cursor: pointer;
  opacity: 0.8;
}